####################################################
# Customized theme based on the Gruvbox preset     #
# from the Starship Prompt                         #
# See: https://starship.rs/presets/gruvbox-rainbow #
####################################################

# SYMBOL/GLYPH LIST                        2025-03-19
# ---------------------------------------------------
# Nerd Font Icon List: https://www.nerdfonts.com/cheat-sheet
# Powerline: https://github.com/powerline/powerline
# Powerline Extra: https://github.com/ryanoasis/powerline-extra-symbols

# The original prompt has some of the symbols actually in this file
# but I'd prefer just to use the unicode symbols instead. Any unicode
# is available as long as you use a nerd font

# --- USED GLYPHS ---
    # \uE0A2 = PL: hostname || readonly (Lock icon)
    # \uE0B0 = PL: left_hard_divider (solid triangle right)
    # \uE0B2 = PL: right_hard_divider
    # \uE0B4 = PLE: right_half_circle_thick
    # \uE0B6 = PLE: left_half_circle_thick
    # \u25B8 = Unicode: Black Right-Pointing Small Triangle
    # \u25B9 = Unicode: White Right-Pointing Small Triangle
    # \uE62A = Custom: Windows
    # \uF31C = Linux: ubuntu_inverse
    # \uF315 = Linux: raspberry_pi
    # \uF31A = Linux: tux
    # \uF302 = Linux: apple
    # \uF300 = Linux: alpine
    # \uF270 = FA: amazon
    # \uE70E = DEV: android
    # \uF304 = Linux: centos
    # \uF306 = Linux: debian
    # \uEF01 = FA: had_wizard
    # \uE5FB = Custom: folder_git
    # \uF45B = OCT: horizontal_rule

    # \U000F031F = MD: language_php
    # \U000F08ED = MD: linux_mint
    # \U000F0BD9 = MD: triforce

# INITAL PROPERTIES                        2025-03-19
# ---------------------------------------------------
# Config Options: https://starship.rs/config

"$schema" = 'https://starship.rs/config-schema.json' # not exactly necessary, but helpful

add_newline = true                                    # adds a blank line between shell prompts
continuation_prompt = "[\u25B8\u25B9 ](dimmed white)" # only works in zsh, bash, and powershell
scan_timeout = 30                                     # timeout for Starship to scan files (milliseconds)
command_timeout = 2000                                # timeout for commands executed by Starship (milliseconds)
follow_symlinks = true                                # Follow symlinks to check if they're directories (used in modules like git)

# palette name based on palettes at the end of this config
palette = 'gruvbox_dark_h'

# PROMPT FORMATTING                        2025-03-19
# ---------------------------------------------------

# format left prompt
format = """
[\uE0C2 ](gruv_bg1)\
[$os $username](bg:prev_bg)\
[\uE0B0](fg:prev_bg bg:gruv_bg2)\
[( ${custom.folder_icon}${custom.home_icon}${custom.code_icon} )$directory ](bg:prev_bg)\
[\uE0B0](fg:prev_bg bg:gruv_bg3)\
[( $git_branch$git_state )](bg:prev_bg)\
[\uE0B0](fg:prev_bg bg:gruv_bg4)\
$nodejs$bun\
[\uE0B0](fg:prev_bg) \
${custom.laravel}${custom.vue}${custom.react}\
$git_status$git_metrics $fill$hostname ${custom.php}${custom.tailscale}${custom.vpn}$cmd_duration\
[\uE0B2](fg:gruv_bg1)\
$time\
[\uE0B4](fg:prev_bg)
${custom.git_config_email}\
$localip$sudo $character"""

# format right prompt
# right_format = ""

# PROMPT ATTRIBUTES                                       2025-03-18
# ------------------------------------------------------------------

[os] # os symbol
    disabled = false
    style    = "fg:gruv_orange bg:prev_fg"

[os.symbols] # available symbols
    Windows  = "\uE62A"
    Ubuntu   = "\uF31C"
    Raspbian = "\uF315"
    Mint     = "\U000F08ED"
    Macos    = "\uF302"
    Linux    = "\uF31A"
    Alpine   = "\uf300"
    Amazon   = "\uF270"
    Android  = "\uE70E"
    CentOS   = "\uF304"
    Debian   = "\uF306"

[username] # logged in user
    show_always = true
    format      = '[$user ]($style)'
    style_user  = "fg:gruv_orange bg:prev_bg"
    style_root  = "fg:gruv_orange bg:prev_bg"

[hostname]
    disabled = false
    ssh_only = false
    style    = "dimmed fg:gruv_bg2"
    format   = '[ $hostname]($style)'
    trim_at  = ""
    detect_env_vars = [ '!TMUX' ]

[sudo] # last command sudo
    disabled = false
    format   = "[$symbol]($style)"
    style    = "fg:bright-purple bg:prev_bg"
    # symbol   = "\uef01 " # hat_wizard
    symbol   = "\U000F0BD9 " # triforce

[directory] # working directory
    format            = "[$path]($style)[$read_only]($read_only_style)"
    style             = "fg:gruv_yellow bg:prev_bg"
    read_only         = "\uE0A2"
    read_only_style   = "fg:gruv_yellow bg:prev_bg"
    truncate_to_repo  = true
    truncation_length = 0
    truncation_symbol = "/"

[git_branch]
    symbol = "\uE5fb" # CUSTOM: folder_git
    style  = "bg:prev_bg"
    format = '[[$symbol $branch(:$remote_branch)](fg:gruv_aqua bg:prev_bg)]($style)'
    # ignore_branches = ['master', 'main']

[git_metrics]
    disabled      = false
    format        = '[+$added]($added_style)[|](gruv_gray)[-$deleted]($deleted_style)'
    added_style   = "gruv_green"
    deleted_style = "gruv_red"

[git_status]
    disabled = false
    format   = '([[\[$all_status\]](gruv_aqua) [$ahead_behind](gruv_blue)](bold) )'
    ahead    = ' ⇡${count}'
    behind   = ' ⇣${count}'
    diverged = "\U000F00FB ⇡${ahead_count}⇣${behind_count}"
    staged   = '[++\($count\)](gruv_green)'

[php]
    disabled       = true
    symbol         = "\U000F031F "
    style          = "bold fg:gruv_purple bg:prev_bg"
    format         = '[$symbol$version ]($style)'
    version_format = "v${major}.${minor}"

[nodejs]
    disabled          = false
    symbol            = "\U000F0399 "
    version_format    = "v${raw}"
    style             = "bold fg:gruv_green bg:prev_bg"
    format            = '[ $symbol$version ]($style)'
    not_capable_style = "bold gruv_red"
    detect_extensions = [ "js", "mjs", "cjs", "ts", "mts", "cts" ]
    detect_files      = [ "package.json", ".node-version", ".nvmrc", "!bun.lock" ]
    detect_folders    = [ "node_modules" ]

[bun]
    disabled = false
    format   = "[ $symbol$version ]($style)"
    symbol   = "\uE76F "
    style    = "fg:gruv_green bg:prev_bg"

[docker_context]
    symbol = "\uE7B0 "
    style  = "bg:prev_bg"
    format = '[[ $symbol($context) ](fg:#83a598)]($style)'

[localip]
    disabled = false
    ssh_only = true
    format   = " [ $localipv4](bold fg:green)"

[battery]
    disabled           = true
    format             = "[ $percentage $symbol]($style)"
    charging_symbol    = "[↑](fg:green)"
    discharging_symbol = "↓"

    [[battery.display]]
        threshold = 20
        style     = "italic bold red"

    [[battery.display]]
        threshold = 50
        style     = "italic dimmed bright-purple"

    [[battery.display]]
        threshold = 75
        style     = "italic dimmed yellow"

[time]
    disabled    = false
    time_format = "%R"
    style       = "fg:gruv_fg"
    format      = "[[ \uF017 $time](bg:gruv_bg1)]($style)"

[cmd_duration]
    disabled = false
    format = "[\U000F199F](dimmed fg:gruv_yellow) [$duration]($style) "
    style = "gruv_yellow bold"
    min_time = 1000

[line_break]
    disabled = true

[character]
    disabled = false
    success_symbol            = "[[\uf054](bright-red)[\uf054](bright-yellow)[\uf054](bright-green)](bold)"
    error_symbol              = "[\uEA87 \uf054](gruv_red)"
    vimcmd_symbol             = "[\U000F0DBA ](bold gruv_green)"
    vimcmd_replace_one_symbol = "[\U000F0DBA ](bold gruv_purple)"
    vimcmd_replace_symbol     = "[\U000F0DBA ](bold gruv_purple)"
    vimcmd_visual_symbol      = "[\U000F0DBA ](bold gruv_yellow)"

[fill]
    disabled = false
    symbol = "\uF45B"
    style = "dimmed fg:gruv_bg2"

[custom.git_config_email]
    disabled    = true
    description = "Output the current git user's configured email address."
    command     = "git config user.email"
    when        = "git rev-parse --is-inside-work-tree >/dev/null 2>&1"
    format      = " [$symbol ($output)]($style)\n"
    symbol      = "\uE709"
    style       = 'fg:gruv_fg'

[custom.folder_icon]
    description  = "Normal folder icon when no others are available"
    require_repo = false
    format       = "[$symbol]($style)"
    symbol       = "\uE5FF"
    style        = 'fg:gruv_yellow bg:prev_bg'
    when         = ''' test "$HOME" != "$PWD" && test "$PROJECT_DIR" != "$PWD" '''

# "~"           = "\U0000E617 " # Custom: home
# "~/Code"      = "\U0000F1C9 " # FA: file_code
# "~/Documents" = "\U000F19F6 " # MD: folder_file
# "~/Downloads" = "\U000F024D " # MD: folder_download
# "~/Music"     = "\U0000F001 " # FA: music
# "~/Pictures"  = "\U0000F03E " # FA: image

[custom.home_icon]
    description = "Home icon when at the user's home directory"
    when        = ''' test "$HOME" = "$PWD" '''
    format      = "[$symbol]($style)"
    symbol      = "\U0000E617"
    style       = 'fg:gruv_yellow bg:prev_bg'

[custom.code_icon]
    description = "Custom icon when at the $PROJECT_DIR directory"
    when        = "$PWD = $PROJECT_DIR"
    format      = "[ $symbol]($style)"
    symbol      = "\U0000F1C9"
    style       = 'fg:gruv_yellow bg:prev_bg'

[custom.sites_icon]
    description = "Custom icon when at the $SITES directory"
    when        = "$PWD = $SITES"
    format      = "[ $symbol]($style)"
    symbol      = "\U0000F1C9"
    style       = 'fg:gruv_yellow bg:prev_bg'

[custom.composer]
    description = "Custom display of composer version when installed"
    command     = "sh $DOTFILES/fish/themes/commands/composer_version.sh"
    when        = true
    format      = "[$symbol($output )]($style)"
    symbol      = "\uE783 "
    style       = "bold fg:gruv_yellow bg:prev_bg"

[custom.php]
    disabled    = true
    description = "Custom display of the current PHP CLI version"
    command     = "sh $DOTFILES/fish/themes/commands/php_version.sh"
    when        = true
    format      = "[$symbol($output )]($style)"
    symbol      = "\U000F031F "
    style       = 'bold fg:gruv_purple bg:prev_bg'

[custom.laravel]
    disabled    = true
    description = "The version of Laravel used by the current project"
    command     = "sh $DOTFILES/fish/themes/commands/laravel_version.sh"
    when        = "sh $DOTFILES/fish/themes/commands/is_laravel.sh"
    symbol      = "\uE73F "
    style       = "fg:#f53003 bg:prev_bg"
    format      = "[$symbol$output ]($style)"

[custom.vue]
    disabled       = true
    description    = "Vue icon and version wused by the current project"
    command        = "sh $DOTFILES/fish/themes/commands/vue_version.sh"
    when           = "sh $DOTFILES/fish/themes/commands/is_vue.sh"
    symbol         = "\uE6A0 "
    style          = "fg:gruv_green bg:prev_bg"
    format         = "[$symbol$output ]($style)"
    ignore_timeout = true

[custom.react]
    disabled       = true
    description    = "React icon and version wused by the current project"
    command        = "sh $DOTFILES/fish/themes/commands/react_version.sh"
    when           = "sh $DOTFILES/fish/themes/commands/is_react.sh"
    symbol         = "\uE7BA"
    style          = "fg:gruv_blue bg:prev_bg"
    format         = "[$symbol$output ]($style)"
    ignore_timeout = true

[custom.tailscale]
    description    = "Tailscale icon that shows when connected"
    when           = 'scutil --nc list | rg "Connected" | rg -q "tailscale"'
    symbol         = "\U000F15FC"
    style          = "fg:gruv_blue bg:prev_bg"
    format         = "[$symbol$output ]($style)"

[custom.vpn]
    description    = "VPN icon that shows when connected"
    when           = 'scutil --nc list | rg "Connected" | rg -qi "vpn&&[^:io.tailscale]"'
    symbol         = "\U000F0BC4"
    style          = "fg:gruv_blue bg:prev_bg"
    format         = "[$symbol$output ]($style)"


# PALETTES                                 2025-03-19
# ---------------------------------------------------

# GRUVBOX THEMES: https://github.com/morhetz/gruvbox
# The normal gruvbox theme uses bright colors on the dark mode
# and faded colors on the light mode. Here, I'm always using dark so
# we'll just use the faded colors in soft contrast instead of light mode

[palettes.gruvbox_dark_h] # High Contrast, bright on dark
    gruv_red    = '#fb4934' # 167
    gruv_green  = '#b8bb26' # 142
    gruv_yellow = '#fabd2f' # 214
    gruv_blue   = '#83a598' # 109
    gruv_purple = '#d3869b' # 175
    gruv_aqua   = '#8ec07c' # 108
    gruv_orange = '#fe8019' # 208
    gruv_fg     = '#ebdbb2' # 223
    gruv_fg0    = '#fbf1c7' # 229
    gruv_fg1    = '#ebdbb2' # 223
    gruv_fg2    = '#d5c4a1' # 250
    gruv_fg3    = '#bdae93' # 248
    gruv_fg4    = '#a89984' # 246
    gruv_bg     = '#1d2021' # 234
    gruv_bg0    = '#282828' # 235
    gruv_bg1    = '#3c3836' # 237
    gruv_bg2    = '#504945' # 239
    gruv_bg3    = '#665c54' # 241
    gruv_bg4    = '#7c6f64' # 243
    gruv_gray   = '#928374' # 245

[palettes.gruvbox_dark_m] # Mid Contrast, neutral/default
    gruv_red    = '#cc241d'
    gruv_green  = '#98971a'
    gruv_yellow = '#d79921'
    gruv_blue   = '#458588'
    gruv_purple = '#b16286'
    gruv_aqua   = '#689d6a'
    gruv_orange = '#d65d0e'
    gruv_gray   = '#928374'
    gruv_fg     = '#ebdbb2'
    gruv_fg0    = '#fbf1c7'
    gruv_fg1    = '#ebdbb2'
    gruv_fg2    = '#d5c4a1'
    gruv_fg3    = '#bdae93'
    gruv_fg4    = '#a89984'
    gruv_bg     = '#282828'
    gruv_bg0    = '#282828'
    gruv_bg1    = '#3c3836'
    gruv_bg2    = '#504945'
    gruv_bg3    = '#665c54'
    gruv_bg4    = '#7c6f64'

[palettes.gruvbox_dark_s] # Soft Contrast, faded on gray
    gruv_red    = '#9d0006'
    gruv_green  = '#79740e'
    gruv_yellow = '#b57614'
    gruv_blue   = '#076678'
    gruv_purple = '#8f3f71'
    gruv_aqua   = '#427b58'
    gruv_orange = '#af3a03'
    gruv_gray   = '#7c6f64'
    gruv_fg     = '#ebdbb2'
    gruv_fg0    = '#fbf1c7'
    gruv_fg1    = '#ebdbb2'
    gruv_fg2    = '#d5c4a1'
    gruv_fg3    = '#bdae93'
    gruv_fg4    = '#a89984'
    gruv_bg     = '#32302f'
    gruv_bg0    = '#282828'
    gruv_bg1    = '#3c3836'
    gruv_bg2    = '#504945'
    gruv_bg3    = '#665c54'
    gruv_bg4    = '#7c6f64'
